[package]
authors = ["Ben Ruijl <benruyl@gmail.com>"]
categories = ["science"]
description = "A symbolic manipulation toolkit which aims to handle expressions with billions of terms, taking up terabytes of diskspace."
edition = "2021"
keywords = ["algebra", "symbolic", "manipulation", "mathematics", "physics"]
license-file = "License.md"
name = "symbolica"
readme = "Readme.md"
repository = "https://github/benruijl/symbolica"
version = "0.0.0"

[profile.dev-optim]
inherits = "dev"
opt-level = 2

[lib]
crate-type = ["cdylib", "rlib", "staticlib"]
name = "symbolica"

[features]
default = ["python_api"]
# if using this, make sure jemalloc is compiled with --disable-initial-exec-tls
# if symbolica is used as a dynamic library (as is the case for the Python API)
faster_alloc = ["tikv-jemallocator"]
python_api = ["pyo3", "once_cell", "self_cell"]

[dependencies.pyo3]
features = ["extension-module", "multiple-pymethods"]
optional = true
version = "0.19"

[dev-dependencies]
tracing-subscriber = {version = "0.3.17", features = ["env-filter"]}

[dependencies.rug]
default-features = false
features = ["integer", "rational"]
version = "1.19"

[dependencies]
ahash = "0.8"
byteorder = "1.4"
bytes = "1.3"
colored = "2.0"
once_cell = {version = "1.17", optional = true}
self_cell = {version = "1.0", optional = true}
rand = "0.8"
smallvec = "1.1"
smartstring = "1.0"
tikv-jemallocator = {version = "0.4.0", optional = true}
tracing = {version = "0.1", features = ["max_level_trace", "release_max_level_warn"]}
